//Question 1 Answer

When expression (a) is finally evaluated, the value 6 is displayed

Explanation:-

The initial value of the global variable "a" is set to zero. To modify the value of "a" the function "b" calls the "c"  function.

First, when 'b' is called, then 'c(a)' is invoked which returns the result of 'a' ie, 0 + 2 = 2,  'a' changes to 2.

When "b" is called again, it updates "a" once again by calling "c(a)" with the revised value of "a" which is 2, causing "a" to become "4".

Lastly, when "b" is called a third time, it alters "a" by calling "c(a)" which will result in a new value of 6 (ie, 4 + 2).

As a result, the output of the last expression "a" will be evaluated as 6, which is the current value of the global variable "a."

In [9]:
#Question 2 Answer

def fileLength(fileName):
    
    try:
        fd = open(fileName)      
        if fd.readable():           
            print('Number of lines in the file = ', len(fd.readlines()))        
        else:
            print(f"File {fileName} not found..")
            
    except Exception as error:
            print(f"File {fileName} not found.")


fileLength('miidterm.py')
fileLength('idterm.py')

Number of lines in the file =  55
File idterm.py not found.

In [17]:
#Question 3 Answer
class Marsupial:
    def __init__(var):
        var.que = []

    def put_in_pouch(var, value):
        var.que.append(value)

    def pouch_contents(var):
        return var.que

class Kangaroo(Marsupial):
    def __init__(var, x=0, y=0):
        super().__init__()
        var.x = x
        var.y = y

    def jump(var, dx, dy):
        var.x =  var.x + dx
        var.y =  var.y + dy

    def __str__(var):
        return f"I am a Kangaroo located at coordinates ({var.x},{var.y})"

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents()) 


k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [22]:
#Question 4 Answer
def collatz(inputVal):
    print(inputVal)  
    if inputVal == 1:
        return
    elif inputVal % 2 == 0:
        collatz(inputVal//2)
    else:
        collatz(3*inputVal + 1)
        

number = int(input("Enter a positive integer: "))
collatz(number)

Enter a positive integer: 10
10
5
16
8
4
2
1

In [25]:
#Question 5 Answer
def binary(n):
    if n > 1:
        binary(n//2)
    print(n % 2,end = '')
    
inputNum = int(input("Enter the number: "));
binary(inputNum)

Enter the number: 3
11

In [38]:
#Question 6 Answer
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []

    def handle_starttag(self, tag, attrs):
        try:
            if tag.startswith('h'):
                self.headings.append((int(tag[1:]), ''))
        except ValueError:
            print(f"Invalid tag: {tag}")


    def handle_endtag(self, tag):
        pass

    def handle_data(self, data):
        if self.headings:
            last_heading = self.headings[-1]
            self.headings[-1] = (last_heading[0], last_heading[1] + data.strip())

    def print_headings(self):
        for heading in self.headings:
            print(' ' * heading[0] + heading[1])

In [43]:
infile = open('w3c.html') 
content = infile.read() 
infile.close() 
linkparser = HeadingParser() 
linkparser.feed(content) 
linkparser.print_headings()

Invalid tag: html
Invalid tag: head
 W3C Mission
  Principles

In [29]:
#Question 7 Answer
from urllib.request import urlopen
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    print(' ' * indent + url)
    if depth == 0:
        return
    try:
        html = urlopen(url)
    except:
        return
    soup = BeautifulSoup(html, 'html.parser')
    links = soup.find_all('a')
    for link in links:
        href = link.get('href')
        if href.startswith('http'):
            webdir(href, depth-1, indent+1)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 1)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test3.html', 2, 2)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 3)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
  http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
   http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [45]:
#Question 8 Answer

!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\aryas\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\aryas\anaconda3\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: ipython-genutils in c:\users\aryas\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in c:\users\aryas\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: sqlparse in c:\users\aryas\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\users\aryas\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\aryas\anaconda3\lib\site-packages (from ipython-sql) (2.0.5.post1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\aryas\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.3.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\aryas\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\aryas\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\aryas\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\aryas\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\aryas\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pygments in c:\users\aryas\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\aryas\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\aryas\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: colorama in c:\users\aryas\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\aryas\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: decorator in c:\users\aryas\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: wcwidth in c:\users\aryas\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\aryas\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)

In [47]:
import sqlite3

connect = sqlite3.connect('weather.db')
cursor = connect.cursor()
cursor.execute('CREATE TABLE weather_Details (City TEXT, Country TEXT, Season TEXT,Temperature FLOAT,Rainfall FLOAT)')
cursor.execute("INSERT INTO weather_Details VALUES ('Mumbai','India','Winter','24.8','5.9'),('Mumbai','India','Spring','28.4','16.2'),('Mumbai','India','Summer','27.9','1549.4'),('Mumbai','India','Fall','27.6','346.0'),('London','United Kingdom','Winter','4.2','207.7'),('London','United Kingdom','Spring','8.3','169.6'),('London','United Kingdom','Summer','15.7','157.0'),('London','United Kingdom','Fall','10.4','218.5'),('Cairo','Egypt','Winter','13.6','16.5'),('Cairo','Egypt','Spring','20.7','6.5'),('Cairo','Egypt','Summer','27.7','0.1'),('Cairo','Egypt','Fall','22.2','4.5')")
connect.commit()
c = connect.cursor()

In [48]:
%load_ext sql
%sql sqlite:///weather.db

In [66]:
%%sql

SELECT Temperature FROM weather_Details

 * sqlite:///weather.db
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [50]:
%%sql
SELECT DISTINCT City FROM weather_Details

 * sqlite:///weather.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [51]:
%%sql
SELECT * FROM weather_Details WHERE Country = 'India'

 * sqlite:///weather.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [52]:
%%sql

SELECT * FROM weatherDetails WHERE Season = 'Fall'

 * sqlite:///weather.db
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [61]:
%%sql
SELECT City, Country, Season, AVG(Rainfall) as avgRainfall FROM weather_Details GROUP BY City, Country, Season HAVING avgRainfall >= 200 AND avgRainfall <= 400;

 * sqlite:///weather.db
Done.

[('London', 'United Kingdom', 'Fall', 218.5),
 ('London', 'United Kingdom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

In [64]:
%%sql
SELECT City, Country, AVG(Temperature) as avgtemp FROM weather_Details WHERE Season = 'Fall' GROUP BY City, Country HAVING avgtemp > 20 ORDER BY Temperature ASC

 * sqlite:///weather.db
Done.

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

In [57]:
%%sql
SELECT SUM(Rainfall) FROM weatherDetails WHERE City='Cairo'

 * sqlite:///weather.db
Done.

[(27.6,)]

In [58]:
%%sql
SELECT SUM(Rainfall) FROM weatherDetails GROUP BY Season

 * sqlite:///weather.db
Done.

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

In [30]:
#Question 9 Answer
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
outputList1 = []
outputList2 = []
outputList3 = []
outputList5 = []
outputList4 = []
for c in words:
    outputList1.append(c.upper())
    outputList2.append(c.lower())
    outputList3.append(len(c))
    if (len(c) >=4):
        outputList5.append(c)
le =len(words)
for i in range(le):
    temp = [outputList1[i],outputList2[i],outputList3[i]]
    outputList4.append(temp)
print("\na)",outputList1)
print("\nb)",outputList2)
print("\nc)",outputList3)
print("\nd)",outputList4)
print("\ne)",outputList5)

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e) ['quick', 'brown', 'jumps', 'over', 'lazy']